<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="/cbg.jpg">
    </div>
  </div>

  <div class="container">
    <script>
      function toggle() {
          $("#articles").toggleClass("hidden");
          $("#frequency").toggleClass("hidden");
        };
    </script>

    <div class="row"><button type="button" onClick="toggle()" class="btn btn-info">Frequency</button></div>

    <div class="row" id="articles">
      <table class="table table-condensed">
        <% articles.forEach(function(a) { %>
          <tr>
            <td><a href="<%=a.url%>" target="_blank"><%= a.title %></a></td>
            <td><%= a.date %></td>
          </tr>
        <% }) %>
      </table>
    </div>

    <div class="row hidden" id="frequency">
      <table class="table table-condensed">
        <% Object.keys(frequency).forEach(function(key) { %>
          <tr>
            <td><%= key %></td>
            <td><%= frequency[key] %></td>
          </tr>
        <% }) %>
      </table>
    </div>

  </div>

</body>
</html>
